@if (this.User?.Identity?.IsAuthenticated == true)
{
    <span class="navbar-text navbar-right">Logged in as: @User.Identity.Name</span>
    <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout" title="Logout">Logout</a>
}
else
{
    <a class=""nav-item nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
}