@model devcall.DataAccess.SIPAccount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SIPAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="DomainID" class="control-label"></label>
                @Html.DisplayNameFor(model => model.Domain)
            </div>
            <div class="form-group">
                <label asp-for="SIPUsername" class="control-label"></label>
                @Html.DisplayFor(model => model.SIPUsername)
            </div>
            <div class="form-group">
                <label asp-for="SIPPassword" class="control-label"></label>
                <input asp-for="SIPPassword" class="form-control" />
                <span asp-validation-for="SIPPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
