@{
    ViewData["Title"] = "Home";
}

<p>Welcome to the Developer Call demonstration application.</p>

<p>Click <a asp-action="Login">Login</a> to Create or Manage your complimentary SIP Account (note that a GitHub account is required to use this demo).</p>